:root {
	--font-family: Arial;
	--radius: 12px;
	--elevation: rgba(140, 140, 140, 0.2) 0px 0px 0px 1px;
	--spacing: 8px;
	--spacing-2: calc(var(--spacing) * 2);
	--palette-primary: #96bfc2;
	--palette-primary-accent: #d8e9ea;
	--palette-primary-contrast: #ffffff;
	--palette-surface: #f4f2ee;
	--foreground-color: #000000;
	--background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--palette-surface: #242424;
		--foreground-color: rgba(255, 255, 255, 0.87);
		--background-color: #000000;
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family);
	color: var(--foreground-color);
	background-color: var(--background-color);
}
